body {
    text-align: center;
    background: linear-gradient(rgb(0, 0, 0),rgb(255, 155, 40));
    color: rgb(255, 255, 255)
}

img{
    opacity: 0.75;
    border-radius: 20px;
}

img:hover {
    opacity: 1;
    border: 3px rgb(255, 166, 0) solid;
}

#banda {
    width: 20%;
}

#amy {
    width: 20%;
}

#john {
    width: 20%;
}

#trevor {
    width: 20%;
}